
*{
    Font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;
}

a{
    color: black;
}

body{
    background-color: #FAFAFA;
}

a:hover{
    color: black;
    text-decoration: none;
}

header{
    border-bottom: 1px solid #c4c4c4;
    min-width: 440px;
    background-color: #fff;
}

/* Main search input top menu */
header input{
    border: 1px solid #c4c4c4;
    border-radius: 3px;
}

span#magnifier-search{
    position: relative;
    left: 120px;
}

span#magnifier-search img{
    width: 12px;
}

header input:focus{
    outline: none;
}

/*Global configs*/
.main-container, .container-feed, .feed-content{
    min-width: 440px;
    background-color: #FAFAFA;
}

.top-menu-content{
    width: 88%;
}

.feed-content-posts{
    background-color: #fff;
}

/* profile perfil icon style */
img.profile-img{
    border-radius: 50%;
}

.border-elements{
    border: 1px solid #c4c4c4;
    border-radius: 3px;
}

/*End global configs*/

/* Header icon styles and configurations */
.top-menu-icons li img{
    width: 23px;
    margin: 0px 10px;
}
/*************************************************/

/*feed styles*/


.container-side{
    width: 500px;
}

.side-content{
    position: fixed;
}

/*Stories styles*/
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.stories ul li{
    padding: 8px;
    text-align: center;
    background-color: #fff;
}

.stories-profile{
    background: url("../assets/icons/stories-photo-circle-thinck.png") no-repeat top;
    background-size: 55px;
}

.stories-profile img{
    width: 48px;
    position: relative;
    top: 3px;
}

.stories-img-leg{
    margin: 0px;
    padding: 0px;
    font-size: 13px;
}
/**End stories*/
/*************************************************/

/*Post styles*/

.post-header{
    padding: 15px;
}

.post-profile-img{
    background: url("../assets/icons/stories-photo-circle-thinck.png") no-repeat left;
    background-size: 38px;
    padding: 5px;
}

.post-profile img{
    width: 32px;
    position: relative;
    right: 3px;
}

.post-body img{
    width: 100%;
}

.post-first-actions img{
    width: 25px;
    margin: 15px 0px 15px 10px;
}

.post-save img{
    width: 25px;
    margin: 15px 10px 15px 0px;
}

.post-liked-by img{
    width: 20px;
}

.post-liked-by-desc{
    font-size: 0.9em;
}

.post-comment{
    padding: 0px 15px;
    border-top: 1px solid #c4c4c4;
}

.post-comment-area{
    width: 100%;
    height: 50px;
}

.post-comment-area textarea{
    width: 100%;
    height: 100%;
    resize: none;
    line-height: 1;
    vertical-align: middle;
    padding: 15px 0px;
    border: none;
}

.post-comment-area textarea:focus{
    outline: none;
}

.post-comment-publish a{
    color: #45B1F7;
    opacity: 0.5;
}

.hashtag{
    color: #45B1F7;
}

.hashtag:hover{
    color: #45B1F7;
}

.post-view-all-comments a, .post-last-time-posted{
    color: #c4c4c4;
}

/**End feed style**/
/*************************************************/

/*Side styles*/

.container-side{
    padding: 10px;
}

.side-content{
    width: 300px;
}

.side-profile-img{
    background: url("../assets/icons/stories-photo-circle-thinck.png") no-repeat left;
    background-size: 55px;
    width: 60px;
    height: 60px;
}

.side-profile-img img{
    width: 48px;
    position: relative;
    left: 4px;
    top: 5px;
}

.side-profile-suggestion-img-on-stories{
    background: url("../assets/icons/stories-photo-circle-thinck.png") no-repeat left top;
    background-size: 40px;
    width: 50px;
    height: 50px;
}

.suggestion-follow img{
    width: 34px;
    position: relative;
    left: 2.6px;
    top: 2.6px;
}

.side-profile-suggestion-img-off-stories{
    background-size: 40px;
    width: 50px;
    height: 50px;
}

.footer-side-content{
    width: 320px;
}

.footer-side-content ul li{
    font-size: 0.7em;
    letter-spacing: 0.5px;
    margin-right: 8px;
}

.footer-side-content a{
    color: #c4c4c4;
}

.copyright{
    font-size: 0.7em;
    text-transform: uppercase;
    color: #c4c4c4;
}

.dot-icon-footer{
    background: url("../assets/icons/dot-footer.png") no-repeat left center;
    opacity: 0.2;
}

#sub-side-profile-content{
    font-size: 0.8em;
}

h6{
    color: #9b9b9b;
    font-weight: bold;
}

.side-profile-desc{
    font-size: 0.8em;
    color: #9b9b9b;
}

.side-profile-desc p{
    margin-bottom: 5px;
}

.follow-btn a{
    color: #45B1F7;
    font-weight: bold;
    font-size: 0.8em;
}
/*************************************************/

/* Media controls */

@media (min-width: 576px) { 
    
 }


@media (min-width: 768px) { 
    
 }


@media (min-width: 992px) { 
    
 }


@media (min-width: 1200px) { 
    
 }

/* Just a line to guide me along development */
.line-red{
    border: 1px solid red;
}

.line-blue{
    border: 1px solid blue;
}