header{
    border-bottom: 1px solid #c4c4c4;
}

/* Search input*/
header input{
    border: 1px solid #c4c4c4;
    border-radius: 3px;
    
}

/* Perfil icon style */
.top-menu-icons li img#profile-icon{
    border-radius: 50%;
}

/* Header styles and configurations */
.top-menu-icons li img{
    width: 23px;
    margin: 0px 10px;
}

.border-elements{
    border: 1px solid #c4c4c4;
    border-radius: 3px;
}

/* Stories styles */

section div div#stories img{
    width: 65px;
    border-radius: 50%;
    margin: 3px 0px 0px 13px;
}

section div div#stories p{
    text-align: center;
    font-size: 0.8em;
}

section div div#stories ul li{
    width: 90px;
    background: url("../assets/icons/stories-photo-circle.png") top center no-repeat;
    background-size: 70px;
}

/* End stories style*/

/* Just a line to guide me along development */
.line-red{
    border: 1px solid red;
}



